In [83]:
import pandas as pd
import numpy as np

df = pd.read_csv('Data/train.csv')

In [84]:
df.describe()

C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [85]:
df.describe(include=['O'])

                       Name   Sex    Ticket    Cabin Embarked
count                   891   891       891      204      889
unique                  891     2       681      147        3
top     Jermyn, Miss. Annie  male  CA. 2343  B96 B98        S
freq                      1   577         7        4      644

In [86]:
df_1 = df[['Pclass','Age','Sex']].dropna()

In [87]:
print("Median of Females in 1st class is " + 
      str(np.median(df_1[(df_1.Pclass==1) & (df_1.Sex=='female')]['Age'])))
print("Median of Females in 2nd class is " + 
      str(np.median(df_1[(df_1.Pclass==2) & (df_1.Sex=='female')]['Age'])))
print("Median of Females in 3rd class is " + 
      str(np.median(df_1[(df_1.Pclass==3) & (df_1.Sex=='female')]['Age'])))
print("Median of Males in 1st class is " + 
      str(np.median(df_1[(df_1.Pclass==1) & (df_1.Sex=='male')]['Age'])))
print("Median of Males in 2nd class is " + 
      str(np.median(df_1[(df_1.Pclass==2) & (df_1.Sex=='male')]['Age'])))
print("Median of Males in 3rd class is " + 
      str(np.median(df_1[(df_1.Pclass==3) & (df_1.Sex=='male')]['Age'])))

Median of Females in 1st class is 35.0
Median of Females in 2nd class is 28.0
Median of Females in 3rd class is 21.5
Median of Males in 1st class is 40.0
Median of Males in 2nd class is 30.0
Median of Males in 3rd class is 25.0

In [88]:
data_1 = df[(df.Pclass==1) & (df.Sex=='female')]
data_1['Age'] = data_1['Age'].fillna(35)
data_2 = df[(df.Pclass==2) & (df.Sex =='female')]
data_2['Age'] = data_2['Age'].fillna(28)
data_3=df[(df.Pclass == 3) & (df.Sex=='female')]
data_3['Age'] = data_3['Age'].fillna(21.5)
data_4 = df[(df.Pclass==1) & (df.Sex=='male')]
data_4['Age'] = data_4['Age'].fillna(35)
data_5 = df[(df.Pclass==2) & (df.Sex =='male')]
data_5['Age'] = data_5['Age'].fillna(28)
data_6=df[(df.Pclass == 3) & (df.Sex=='male')]
data_6['Age'] = data_6['Age'].fillna(21.5)
data = pd.concat([data_1,data_2,data_3,data_4,data_5,data_6])

C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [89]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,28.605129,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.383189,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,21.500000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [90]:
data['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [91]:
data[data.Sex=='female']['Survived'].value_counts(normalize=True)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [92]:
data[data.Sex=='male']['Survived'].value_counts(normalize=True)

0    0.811092
1    0.188908
Name: Survived, dtype: float64

In [93]:
data[data.Pclass==1]['Survived'].value_counts(normalize=True)

1    0.62963
0    0.37037
Name: Survived, dtype: float64

In [94]:
data[data.Pclass==2]['Survived'].value_counts(normalize=True)

0    0.527174
1    0.472826
Name: Survived, dtype: float64

In [95]:
data[data.Pclass==3]['Survived'].value_counts(normalize=True)

0    0.757637
1    0.242363
Name: Survived, dtype: float64

In [96]:
data['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [97]:
pd.qcut(data['Age'],5).value_counts()

(22, 30]      189
(20, 22]      188
[0.42, 20]    179
(38, 80]      177
(30, 38]      158
Name: Age, dtype: int64

In [98]:
data['Survived'].groupby(pd.qcut(data['Age'],5)).mean()

Age
[0.42, 20]    0.458101
(20, 22]      0.265957
(22, 30]      0.380952
(30, 38]      0.455696
(38, 80]      0.372881
Name: Survived, dtype: float64

In [99]:
data[data.Age<=20]['Survived'].value_counts(normalize=True)

0    0.541899
1    0.458101
Name: Survived, dtype: float64

In [100]:
data[(data.Age<=22) & (data.Age>20)]['Survived'].value_counts(normalize=True)

0    0.734043
1    0.265957
Name: Survived, dtype: float64

In [101]:
data['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [102]:
data[data.Parch==0]['Survived'].value_counts(normalize=True)

0    0.656342
1    0.343658
Name: Survived, dtype: float64

In [103]:
data[data.Parch==1]['Survived'].value_counts(normalize=True)

1    0.550847
0    0.449153
Name: Survived, dtype: float64

In [104]:
data[data.Parch==5]['Survived'].value_counts(normalize=True)

0    0.8
1    0.2
Name: Survived, dtype: float64

In [105]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [106]:
data[data.Embarked=='S']['Survived'].value_counts(normalize=True)

0    0.663043
1    0.336957
Name: Survived, dtype: float64

In [107]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [108]:
def ticket_group(train):
    for i in [train]:
        i['ticket_letter'] = i['Ticket'].apply(lambda x:str(x)[0])
        i['ticket_letter'] = i['ticket_letter'].apply(lambda x:str(x))
        i['ticket_letter'] = np.where((i['ticket_letter']).isin(['1', '2', '3', 'S', 'P', 'C', 'A']),
                                   i['ticket_letter'],
                                   np.where((i['ticket_letter']).isin(['W', '4', '7', '6', 'L', '5', '8']),'low','high'))
        i['ticket_len'] = i['Ticket'].apply(lambda x:len(x))
        #del i['Ticket']
    return train

In [109]:
data = ticket_group(data)

In [110]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_letter,ticket_len
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,P,8
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,6

In [114]:
def fam_size(train):
    for i in [train]:
        i['fam_size'] = np.where(i.SibSp+i.Parch==0,'Solo',np.where(i.SibSp+i.Parch<=3,'Nuclear','Big'))
    return train

In [115]:
data=fam_size(data)

In [116]:
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_letter,ticket_len,fam_size
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,P,8,Nuclear
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,6,Nuclear
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,6,Solo

In [121]:
def get_title(train):
    for i in [train]:
        i['Title'] = i['Name'].apply(lambda x:x.split(',')[1]).apply(lambda x:x.split()[0])
    return train

In [122]:
data=get_title(data)

In [123]:
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_letter,ticket_len,fam_size,Title
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,P,8,Nuclear,Mrs.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,6,Nuclear,Mrs.
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,6,Solo,Miss.

In [134]:
def get_cabin(train):
    for i in train:
        #i['cabin_num'] = i['Cabin'].apply(lambda x:str(x).split()[-1][1:])
        #i['cabin_num'] = i['Cabin'].apply(lambda x: str(x).split()[-1][1:])
        i['Cabin_num'] = i['Cabin'].apply(lambda x: str(x).split()[-1][1:])
    return train

In [135]:
data=get_cabin(data)

TypeError: string indices must be integers